body {
    background-color: #F8F7F4;
    font-family: 'Poppins', sans-serif; /* Set the font to Poppins */
}

.centered-image {
    text-align: center;
    margin-top: 60px;
    position: relative; /* Create a positioning context for the nested centered-text div */
}

.centered-image img {
    max-width: 100%;
}

.centered-text {
    position: absolute;
    bottom: 80px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px; 
}

.centered-text p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.centered-text p {
    font-size: 250%;
}


@media only screen and (max-width: 375px) {
    .centered-text p {
        font-size: 150%; 
    }
}

.buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.buttons button {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F7F4;
    color: black;
    border: 2px solid black;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttons button:nth-child(2) {
    margin: 0 20px; 
}

.buttons button:hover {
    background-color: black;
    color: white;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup-content {
    width: 60%;
    max-height: 80%;
    background-color: #F8F7F4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: auto;
    position: relative; /* Add relative positioning for close button positioning */
}

.popup-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    margin: 0;
}

.popup-content .instructions-image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: grey;
}
